<%- include ('../admin/layouts/header.ejs')-%>

    <!-- partial -->
    <div class="col-12 mt-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <!-- <p class="card-description"> Basic form elements </p> -->
                <form class="forms-sample" action="" method="" >
                    <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <select name="productname" id="productname" class="form-control" required>
                           <% for(let i=0;i<productdata.length;i++){%>
                                <option value="<%= productdata[i].productname%>"><%= productdata[i].productname%></option>
                                <%}%>
                        </select>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="avtivationDate">Starting Date</label>
                        <input type="date" class="form-control" id="startingdate" 
                        name="startingdate"  placeholder="activation date" style="color: white;" required>
                        <p style="color: red;" id="activationErr"></p>
                    </div>
                    <div class="form-group">
                        <label for="avtivationDate">Expiry Date</label>
                        <input type="date" class="form-control" id="endingdate"
                        name="expirydate"  placeholder="activation date" style="color: white;" onchange="validateDates(this)" required>
                        <p style="color: red;" id="expiryErr"></p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Offer percentage</label>
                        <input type="number" class="form-control" id="offerpercentage"
                           name="offerpercentage" placeholder="Discount Amount" name="offerpercentage" required>
                           <p style="color: red;" id="discountamountError"></p>

                        </div>
                   
                    <button type="button" id="submitButton" onclick="addproductoffer()" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark"><a href="/admin/productoffer">Cancel</a></button>
                </form>
            </div>
        </div>
    </div>
<script>
    function validateDates(input) {
    var startDate = document.getElementById('startingdate').value;
    var endDate = document.getElementById('endingdate').value;

   
    if (endDate < startDate) {
        document.getElementById('expiryErr').innerText = 'End date cannot be earlier than the start date. Please select a valid date range.';
            document.getElementById('submitButton').disabled = true;
    }else{
        document.getElementById('expiryErr').innerText = '';
            document.getElementById('submitButton').disabled = false;
    }
}

    function addproductoffer(){
        const productname = document.getElementById('productname').value
        const startingdate = document.getElementById('startingdate').value
        const endingdate = document.getElementById('endingdate').value
        const offerpercentage = document.getElementById('offerpercentage').value
        $.ajax({
            url:'/admin/productofferdata',
            method:'post',
            data:JSON.stringify({productname,startingdate,endingdate,offerpercentage}),
            contentType:'application/json',
            success:function(response){
                if(response.result == true){
                    alert('Productoffer already exist')
                   window.location.href = '/admin/productoffer';
                }else{
                    console.log("Error");
                    window.location.href = '/admin/productoffer';
                }
            }
        })
    }


    const discountamount = document.getElementById("offerpercentage");
		discountamount.addEventListener('input', validofferpercentage);

    function validofferpercentage() {
			const amounts = document.getElementById("offerpercentage").value;

			if (amounts.trim() === "") {
				document.getElementById('discountamountError').innerHTML = "Enter offer amount";
				discountamount.setCustomValidity("Enter offer amount");
			} else {
				const couponamountpattern = /^[+]?\d*\.?\d+$/;
				if (!amounts.match(couponamountpattern)) {
					document.getElementById('discountamountError').innerHTML = "Offer amount should contain only  postive values  ";
					discountamount.setCustomValidity("Offer amount should contain only  postive values");
				} else {
					document.getElementById('discountamountError').innerHTML = "";
					discountamount.setCustomValidity("");
				}
			}
		}

</script>
    <%- include ('../admin/layouts/footer.ejs')-%>