<%- include('../user/layout/header.ejs') -%>
	
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/images/forgetpassword.jpg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Reset Password</h3>
							  <% if(typeof message !== 'undefined'){ %>
								<span
								  id="er2"
								  style="color: rgb(241, 7, 7); text-align: center"
								  ><%= message %></span
								>
								<% } %>
			      		</div>
						 
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form action="/forgetpasswordcheck" method="post" class="signin-form">
								
			      		<div class="form-group mb-3">
							
			      			<label class="label" for="name">Email Address</label>
			      			<input type="email" class="form-control"  placeholder="Emailaddress" value="" required name="email">
			      		</div>

		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Submit</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<!-- <div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="/signup">Forgot Password</a>
									</div> -->
		            </div>
		          </form>
		         
			        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../user/layout/footers.ejs')-%>