<%- include('../user/layout/header.ejs') -%>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wallet<span>Your wallet history</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                
                <div class="container" style="background-color: rgb(247, 234, 211); height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h1>Rs.</h1>
                </div>
                
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr><b>
                                            <th style="font-weight: 800;">No.</th>
                                            <th style="font-weight: 800;">Date</th>
                                            <th style="font-weight: 800;">Type
                                            </th>
                                            <th style="font-weight: 800;">Amount
                                            </th>
                                            <!-- <th style="font-weight: 800;">Status
                                            </th> -->
                                            <!-- <th style="font-weight: 800;">Details
                                            </th> -->
                                        </b>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                            <tr>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    
                                                </td>
                                                <td>Rs.
                                                </td>
                                                <td>
                                                    
                                                     
                                                </td>

                                                <!-- <td><a
                                                        href=>Details</a>
                                                </td> -->
                                            </tr>
                                           

                                </tbody>
                            </table>
                        </div>
                        
                    
                 
              
            </div><!-- End .container -->
            
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <script>

     


    </script>
    <%- include('../user/layout/footer.ejs') -%>